@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --transition: all 0.3s linear;
    --ff-primary: "Roboto", sans-serif;
    --ff-secondary: "Open Sans", sans-serif;
    --clr-primary-1: hsla(0, 86%, 17%, 0.863);
    --clr-primary-5: hsl(210, 88%, 70%); 
    --clr-primary-7: hsl(205, 90%, 76%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-10: hsl (210, 36%, 96%);
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --transition: all 0.3s linear;
}

nav {
   box-shadow: var(--light-shadow);  
   display: flex;
   align-items: center;
   justify-content: space-around;
}

.logo p {
    font-family: var(--ff-secondary);
    font-size: 1.5rem;
        
}

.logo span {
    color: var(--clr-primary-5);
}

.links, .social-media {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    width: 30%;
}

.links a {
    text-decoration: none;
    font-family: var(--ff-secondary);
    font-size: 20px;
    color: var(--clr-grey-3);  
    display: none;
}    

.links a:hover {
    color: var(--clr-primary-5);
}

.social-media {
    display: none;
    width: 10%;
}

.social-media a {
    color: var(--clr-primary-5);    
}

.social-media a:hover {
    color: var(--clr-primary-7);
}

.nav-toggle {
    font-size: 1.2rem;
    background: transparent;
    border: none;
    height: 10px;
    width: 10px;
    transition: var(--transition);
    
}

.nav-toggle:hover {
    cursor: pointer;
    color: var(--clr-primary-1);
    transform: rotate(90deg);
}

.menu {    
    display: flex;
    flex-direction: column;
    width: 75vw;
    height: 100vh;
    position: absolute;
    top: -100vw;
    transition: .40s;   
}

.menu a {
    text-decoration: none;
    margin: 1.2rem;
    font-size: 1.2rem;
    color: var(--clr-primary-1);
    line-height: 2rem;
}

.menu--ativo {
    top: 0;
    transition: .40s;
}